---
layout: default
title: Home
---
{% for post in paginator.posts %}
<a class="post-link" href="{{ post.url }}">
    <article class="content">
        {% if post.image %}
            <img class="post-img" src="{{ post.image }}" alt="{{ post.title }}">
        {% endif %}
        <div class="post-info">
            <h1 class="post-title">{{ post.title }}</h1>
            <p class="post-excerpt">{{ post.excerpt }}</p>
            <p class="post-date">{{ post.date | date: "%Y-%m-%d %H:%M" }}</p>
        </div>
    </article>
</a>
{% endfor %}
<div class="pagination-container">
    <span>
        {% if paginator.previous_page %}
            <span class="pagination">
                <a href="{{ paginator.previous_page_path }}" class="prev">이전글</a>    
            </span>
        {% endif %}
    </span>
    <span>
        {% if paginator.next_page %}
        <span class="pagination">
            <a href="{{ paginator.next_page_path }}" class="next">다음글</a>
        </span>
        {% endif %}
    </span>
</div>
