<header>
	<a href="/"><h1>다래의 블로그</h1></a>
</header>
<nav>
    <div class="toggle-button">
        <a href="#"><i class="fa-solid fa-bars"></i></a>
    </div>
    <div class="navbar-links nav-hide">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="https://twitter.com/_darae_" target="_blank">Twitter</a></li>
            <li><a href="https://github.com/kdo9921" target="_blank">GitHub</a></li>
            <li><a href="https://darae.dev/" target="_blank">About Me</a></li>
        </ul>
    </div>
</nav>