@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap");

body {
    position: relative;
	margin: 0;
	padding: 0;
	font-family: "Noto Sans KR", sans-serif;
    background-color: #303030;
    color: white;
    min-height: 100vh;
    height: 100%;
}

header {
    height: 12em;
    display: flex;
	justify-content: center;
	align-items: center;
    background: linear-gradient(120deg, #9ce159, #9ce159 50%, #8c5e29 100%);
    color: white;
    text-shadow: 0 0 0.5em rgba(0,0,0,0.7);
}

header h1 {
    font-size: 2.5em;
}

a ,
a:visited{
	color: #9ce159;
	text-decoration: none;
	transition: color 350ms ease;
}
a:hover {
	color: #8c5e29;
}

header a,
header a:visited {
    color: #ffffff;
    text-decoration: none;
    transition: text-shadow 350ms ease; 
}

header a:hover {
    text-shadow: 0 0 1em rgba(0,0,0,1);
}

nav {
    background-color: #202020;
}

.toggle-button {
    display: none;
    text-align: right;
}

.toggle-button i {
    color: white;
    font-size: 2rem;
    padding: 0.75rem 1rem;
    transition: color 0.3s;
}
.navbar-links {
    overflow: hidden;
	transition: max-height 0.5s ease;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    font-size: 1rem;
    padding: 1rem;
}

nav a,nav a:visited {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}
nav a:hover, .toggle-button i:hover {
    color: gray;
}

.container {
    display: grid;
    max-width: 1440px;
    width: 98%;
    height: 100%;
    margin: 1em auto 6em;
    grid-template-columns: 2fr 1fr;
}

.content {
    margin: 0.5em 0.5em 1.5em 0.5em;
    background-color: #202020;
    border-radius: 0.25em;
    box-shadow: 0 0 0.5em rgba(0,0,0,0.7);
}

.content img {
    width: 100%;
}

.padding {
    padding: 1em;
}

.pagination-container {
    margin: 2em 0.5em;
    display: flex;
    justify-content: space-between;
}

.pagination {
    padding: 0.5em 1em; 
    background-color: #202020;
    border-radius: 0.25em;
    box-shadow: 0 0 0.5em rgba(0,0,0,0.7);
}

.pagination a ,
.pagination a:visited,
.pagination a:hover{
	color: white;
	text-decoration: none;
}

.post-img {
    width: 100%;
    aspect-ratio : 16 / 9;
    object-fit: cover;
    border-radius: 0.25em 0.25em 0 0;
}

.post-info {
    padding: 1em;
    border-radius: 0 0 0.25em 0.25em;
}

.post-title {
    margin: 0;
    font-size: 2em;
}

.post-content {
    margin: 1em 0;
}

a.post-link,
a.post-link:visited, 
a.post-link:hover,
aside a,
aside a:visited,
aside a:hover {
    color: white;
    text-decoration: none;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #202020;
}

.theme-info {
    text-align: right;
}

@media (max-width: 768px) {
    .toggle-button {
        display: block;
    }

    nav ul {
        flex-direction: column;
    }

    .navbar-links {
        max-height: 0;
    }

    .nav-show {
        max-height: 16em;
    }
}

@media (max-width: 1024px) {
    .container {
        grid-template-columns: none;
    }
}
